/*
Theme Name: Bark User Updates
Text Domain: barkcom
Version: 1.1
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Barebones theme for previewing custom content. All content is exported to Bark API for inclusion on Bark.com. All code is empty or simple default outputs except for single-update.php, functions.php
Author URI: https://www.bark.com/

*/


@font-face {
  font-family: "gorditathin";
  src: url("fonts/gordita-thin-webfont.woff2") format("woff2"), url("fonts/gordita-thin-webfont.woff") format("woff"), url("fonts/gordita-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditathin_italic";
  src: url("fonts/gordita-thinitalic-webfont.woff2") format("woff2"), url("fonts/gordita-thinitalic-webfont.woff") format("woff"), url("fonts/gordita-thinitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditalight";
  src: url("fonts/gordita-light-webfont.woff2") format("woff2"), url("fonts/gordita-light-webfont.woff") format("woff"), url("fonts/gordita-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditalight_italic";
  src: url("fonts/gordita-lightitalic-webfont.woff2") format("woff2"), url("fonts/gordita-lightitalic-webfont.woff") format("woff"), url("fonts/gordita-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditaregular";
  src: url("fonts/gordita-regular-webfont.woff2") format("woff2"), url("fonts/gordita-regular-webfont.woff") format("woff"), url("fonts/gordita-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditaregular_italic";
  src: url("fonts/gordita-regularitalic-webfont.woff2") format("woff2"), url("fonts/gordita-regularitalic-webfont.woff") format("woff"), url("fonts/gordita-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditamedium";
  src: url("fonts/gordita-medium-webfont.woff2") format("woff2"), url("fonts/gordita-medium-webfont.woff") format("woff"), url("fonts/gordita-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditamedium_italic";
  src: url("fonts/gordita-mediumitalic-webfont.woff2") format("woff2"), url("fonts/gordita-mediumitalic-webfont.woff") format("woff"), url("fonts/gordita-mediumitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditabold";
  src: url("fonts/gordita-bold-webfont.woff2") format("woff2"), url("fonts/gordita-bold-webfont.woff") format("woff"), url("fonts/gordita-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditabold_italic";
  src: url("fonts/gordita-bolditalic-webfont.woff2") format("woff2"), url("fonts/gordita-bolditalic-webfont.woff") format("woff"), url("fonts/gordita-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditablack";
  src: url("fonts/gordita-black-webfont.woff2") format("woff2"), url("fonts/gordita-black-webfont.woff") format("woff"), url("fonts/gordita-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditablack_italic";
  src: url("fonts/gordita-blackitalic-webfont.woff2") format("woff2"), url("fonts/gordita-blackitalic-webfont.woff") format("woff"), url("fonts/gordita-blackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditaultra";
  src: url("fonts/gordita-ultra-webfont.woff2") format("woff2"), url("fonts/gordita-ultra-webfont.woff") format("woff"), url("fonts/gordita-ultra-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gorditaultra_italic";
  src: url("fonts/gordita-ultraitalic-webfont.woff2") format("woff2"), url("fonts/gordita-ultraitalic-webfont.woff") format("woff"), url("fonts/gordita-ultraitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }